<a href="https://colab.research.google.com/github/juancamilo9/Proyecto_Ciencia_Datos_Final/blob/master/Proyecto_2_parte_1_base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datos para admision en universidad

---

**Fuente de datos** : https://www.kaggle.com/datasets/akshaydattatraykhare/data-for-admission-in-the-university?resource=download

**Breve descripción de datos** : Este conjunto de datos contiene información con respecto a puntajes obtenidos en diferentes examenes, y ranking o posicionamineto de la universidad a la que se aspira.

**¿Cuál es el objetivo?** : predecir si es aceptado o no en una universidad

**¿Este es un problema de clasificación o regresión?** : regresión

**¿Cuántas características hay?**: tiene 9 caracteristicas, todas númericas

**¿Cuántas filas de datos hay?** : 400 entradas

**¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos?** : Escalonamiento de datos

In [14]:

filename = '/content/adm_data.csv'

df = pd.read_csv(filename)
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

# Predicción de resultados en examenes

---

**Fuente de datos** : https://www.kaggle.com/datasets/whenamancodes/students-performance-in-exams

**Breve descripción de datos** : El conjunto de datos contine las notas obtenidas por los alumnos en diversas materias, recopila información con respecto a su genero, nivel escolar de padres y otras caracteristicas que podrían inferir en dichos resultados

**¿Cuál es el objetivo?** : predecir el resultado de un examen dependiendo de las demas caracteristicas

**¿Este es un problema de clasificación o regresión?** : regresión

**¿Cuántas características hay?**: tiene 8 caracteristicas, todas númericas

**¿Cuántas filas de datos hay?** :  1000 entradas

**¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos?** : Escalonamiento de datos, conversion de datos categoricos y ordinales

In [15]:
import pandas as pd

filename = '/content/exams.csv'

df = pd.read_csv(filename)
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68

In [16]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64